
.wrapper {
    margin: 5px;
}

.face {
    width: 75px;
    height: 75px;
    background-color: yellow;
    border-radius: 50px;
    border: 2px solid black
}
.lefteye {
    width: 10px;
    height:10px;
    top: 20px;
    left: 10px;
    background-color: black;
    border: solid 1px black;
    border-radius: 10px;
    z-index:1;
    position: relative;
}

.righteye {
    width: 10px;
    height: 9px;
    top: 8px;
    left: 45px;
    background-color: black;
    border-radius: 10px;
    border: solid 1px black;
    z-index: 1;
    position: relative;
}
#innerleft {
    width:2px;
    height:2px;
    border: solid 1px white;
    position: relative;
    left: 2px;
    top: 2px;
    background-color: white;
}